.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.u-wrapper {
  max-width: 76.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.u-offset-vertical {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.u-offset-vertical-mini {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.u-offset-bottom {
  padding-bottom: 2rem; }

.u-offset-start {
  margin-right: 0.5rem; }

.u-push-bottom {
  margin-bottom: 1rem; }

.u-backdrop-grey {
  background-color: #f1f1f1; }

.u-font-large {
  font-size: 1.25rem; }

.u-color-primary {
  color: #E25C1C; }

.u-color-secondary {
  color: #F4AC29; }

.u-center {
  text-align: center; }

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
img,
small,
strong,
ol,
ul,
li,
form,
label,
article,
aside,
footer,
header,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ol,
ul,
li {
  list-style: none; }

html {
  box-sizing: border-box;
  color: #4F4F4F;
  direction: rtl; }

*,
*:before,
*:after {
  box-sizing: inherit;
  -moz-box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

button,
input,
textarea {
  color: inherit;
  font-style: inherit;
  font-weight: inherit; }

input:not[type="checkbox"],
button {
  appearance: none; }

img {
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: 'SSTArabic-bold';
  src: url("../fonts/SSTBold/SSTArabicBold.woff2"), url("../fonts/SSTBold/SSTArabicBold.woff") format("woff"), url("../fonts/SSTBold/SSTArabicBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sstarabicroman-regular';
  src: url("../fonts/sstroman/sstarabicroman.woff2"), url("../fonts/sstroman/SSTArabicRoman.woff") format("woff"), url("../fonts/sstroman/SSTArabicRoman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: sans-serif;
  font-family: "sstarabicroman-regular";
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  direction: rtl; }

.container {
  width: 1080px;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1200px) {
    .container {
      padding-left: 0;
      padding-right: 0; } }

.container--small {
  width: 700px; }

.container--tiny {
  width: 516px; }

.o-layout {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  display: grid;
  grid-gap: 16px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }

@media (min-width: 700px) {
  .o-layout--3 {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 960px) {
  .o-layout--4 {
    grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 46.25em) {
  .o-layout--small {
    width: 530px;
    max-width: 100%;
    margin: 0 auto; } }

.o-layout--main {
  display: grid;
  grid-template-rows: auto; }
  @media (min-width: 46.25em) {
    .o-layout--main {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 1em; }
      .o-layout--main .item-a {
        grid-column: 1 / 3; }
        .o-layout--main .item-a .c-featured-recipe__thumb::after {
          padding-bottom: 37%; }
      .o-layout--main .item-b {
        grid-column: 1/3; }
        .o-layout--main .item-b .c-featured-recipe__thumb::after {
          padding-bottom: 37%; } }
  @media (min-width: 61.25em) {
    .o-layout--main {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-gap: 1em; }
      .o-layout--main .item-a {
        grid-column: 1 / 2;
        grid-row: 1 / 3; }
        .o-layout--main .item-a .c-featured-recipe__thumb::after {
          padding-bottom: 126%; }
      .o-layout--main .item-b {
        grid-column: 2/4;
        grid-row: 1/2; } }

@media (min-width: 34.375em) {
  .o-layout--2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    min-height: 177px;
    grid-column-gap: 16px;
    position: relative; } }
@media (min-width: 46.875em) {
  .o-layout--2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 16px;
    position: relative; } }

.c-section {
  padding-top: 32px;
  padding-bottom: 32px; }

.c-section--light {
  background: #F6F6F6; }

.c-section--hero {
  box-shadow: 0 4px 10px #e7e7e7;
  background: linear-gradient(rgba(255, 0, 0, 0), #F9F9F9 99%) no-repeat, url(../img/home/hero-pattern.png) no-repeat center center;
  background-size: cover;
  background-position: center;
  padding-bottom: 30px; }
  @media (min-width: 61.25em) {
    .c-section--hero {
      background: url(../img/home/basmaty-pattern2.png) no-repeat center bottom, linear-gradient(rgba(255, 0, 0, 0), #F9F9F9 99%) no-repeat, url(../img/home/hero-pattern.png) no-repeat center center, #F9F9F9;
      background-size: 100%, 100% 200px, cover;
      background-position: bottom, bottom, center;
      padding-bottom: 70px; } }
  .c-section--hero h2 {
    font-size: 24px; }
    @media (min-width: 46.25em) {
      .c-section--hero h2 {
        font-size: 32px; } }

.c-section--newsletter {
  background: url(../img/home/newsletter-pattern.png) no-repeat center bottom, linear-gradient(rgba(255, 0, 0, 0), #FDFAF3 99%) no-repeat, #FDFAF3;
  background-size: cover;
  background-position: center;
  border-top: 3px solid #F4AC29; }

.c-section--recipe {
  background: linear-gradient(rgba(255, 0, 0, 0) 250px, #fff 250px) no-repeat, url(../img/home/hero-pattern.png) no-repeat center center, #f7f7f7;
  background-size: 100% auto;
  background-position: top;
  padding-bottom: 0; }
  @media (max-width: 600px) {
    .c-section--recipe {
      padding-top: 0; } }

.c-section--filters {
  background: #E25C1C; }
  @media (min-width: 20em) {
    .c-section--filters .container {
      display: flex;
      justify-content: center; } }

.c-section--pattern {
  position: relative;
  padding-top: 100px; }
  .c-section--pattern::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 360px;
    background: linear-gradient(rgba(255, 0, 0, 0) 350px, #f8f5eb 350px) no-repeat, url(../img/home/hero-pattern.png) no-repeat center center, #f8f5eb;
    background-size: cover; }

.c-section--category {
  padding-top: 16px;
  padding-bottom: 16px;
  background: linear-gradient(rgba(255, 0, 0, 0) 350px, #f8f5eb 350px) no-repeat, url(../img/home/hero-pattern.png) no-repeat center center, #f8f5eb;
  background-size: cover; }
  .c-section--category .c-tags {
    text-align: initial;
    margin-top: 16px; }
  .c-section--category h2 {
    font-size: 20px; }

.c-section--author {
  background: linear-gradient(rgba(255, 0, 0, 0) 350px, #f8f5eb 350px) no-repeat, url(../img/home/hero-pattern.png) no-repeat center center, #f8f5eb;
  background-size: cover; }

.c-section--author__info {
  PADDING: 10px 0;
  border-bottom: 1px solid #eee;
  box-shadow: 0px -1px 4px #e1e1e1; }

.c-header {
  box-shadow: 0 0 4px #b8b8b8;
  position: relative; }
  .c-header::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to right, #F4AC29, #E25C1C); }
  .c-header .toggle {
    border: none;
    background: transparent; }
    @media (min-width: 990px) {
      .c-header .toggle {
        display: none; } }
  .c-header .container {
    width: 1280px; }

.c-header .container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between; }

.c-header__social-links {
  display: none; }
  @media (min-width: 1124px) {
    .c-header__social-links {
      display: flex; } }

.c-header__social-media li {
  display: inline-block;
  padding-right: 4px; }

.toggle {
  width: 40px;
  height: 40px;
  transition: all 0.4s; }
  .toggle:focus {
    outline: none;
    background: #f8f5eb;
    border-radius: 50%; }

@media (max-width: 990px) {
  .c-header__menu.open {
    height: auto;
    display: block;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.28);
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    z-index: 1;
    box-shadow: 0px 6px 22px #d4d4d4; }
    .c-header__menu.open .header__menu__item:not(:last-of-type) {
      border-bottom: 1px solid #eee; }
    .c-header__menu.open .header__menu__item a {
      display: inline-block;
      padding: 8px 16px;
      width: 100%; }
    .c-header__menu.open .header__menu__item a.active {
      border-right: 2px solid #E25C1C; } }

.c-header__menu {
  display: none; }
  .c-header__menu svg {
    display: none; }
  @media (min-width: 990px) {
    .c-header__menu ul {
      display: flex; } }
  @media (min-width: 70.25em) {
    .c-header__menu {
      border-right: 1px solid #eee; } }
  @media (min-width: 990px) {
    .c-header__menu {
      display: block;
      order: 1; }
      .c-header__menu svg {
        display: inline-block; }
        .c-header__menu svg path {
          stroke-dasharray: 23;
          stroke-dashoffset: 24;
          transition: all 0.2s ease-out; }
        .c-header__menu svg:hover path {
          stroke-dashoffset: 0; }
      .c-header__menu .header__menu__item {
        padding-right: 28px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .c-header__menu .header__menu__item a {
          display: inline-block;
          padding-top: 18px; }
        .c-header__menu .header__menu__item:hover svg path {
          stroke-dashoffset: 0; } }
  .c-header__menu a.active {
    color: #E25C1C;
    font-weight: 700; }

@media (max-width: 1124px) {
  border-right: none; }
.c-header__logo a {
  width: 160px;
  display: flex;
  align-items: center;
  padding: 22px;
  padding-bottom: 12px; }
@media (min-width: 990px) {
  .c-header__logo {
    order: 0; } }
.c-header__logo img {
  width: 120px; }

@media (min-width: 990px) {
  .c-header__social-links {
    order: 2;
    margin-right: auto; } }

.c-header__user-actions span {
  display: none; }
@media (min-width: 990px) {
  .c-header__user-actions {
    border-right: 1px solid #eee;
    margin-right: 16px;
    order: 3; }
    .c-header__user-actions a {
      display: inline-block;
      padding: 22px; }
    .c-header__user-actions span {
      display: inline-block; } }

.c-footer {
  border-top: 8px solid #F4AC29;
  color: #f3f3f3;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #E25C1C; }
  @media (min-width: 46.25em) {
    .c-footer {
      border-top: 8px solid #F4AC29;
      padding-bottom: 64px;
      background: #E25C1C url(../img/home/basmaty-pattern2.png) no-repeat center bottom;
      background-size: 100% 55px; } }

.c-footer__quick-links {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 8px; }
  @media (min-width: 46.25em) {
    .c-footer__quick-links {
      margin-left: 64px;
      padding-bottom: 0;
      border-bottom: 0; } }
  @media (min-width: 46.25em) {
    .c-footer__quick-links .c-footer__logo {
      padding-bottom: 32px; } }
  .c-footer__quick-links .c-footer__logo a {
    display: inline-block;
    background-size: 100% 100%;
    width: 155px; }
    @media (min-width: 61.25em) {
      .c-footer__quick-links .c-footer__logo a {
        width: 195px; } }

.c-footer__social-links {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08); }
  @media (min-width: 46.25em) {
    .c-footer__social-links {
      margin-left: 64px;
      padding-bottom: 0;
      border-bottom: 0; } }
  @media (min-width: 61.25em) {
    .c-footer__social-links {
      padding-bottom: 32px; } }

.c-footer__social-media {
  margin-bottom: 10px; }
  .c-footer__social-media li {
    display: inline-block;
    margin-right: 8px; }
    @media (min-width: 61.25em) {
      .c-footer__social-media li {
        margin-right: 4px;
        margin-bottom: 0; } }
  .c-footer__social-media a {
    display: inline-block; }
    .c-footer__social-media a svg {
      fill: #fff;
      width: 32px;
      height: 32px;
      transition: fill 0.2s ease-in-out; }
      .c-footer__social-media a svg:hover {
        fill: #f2e3b9; }

.c-footer__app-links li {
  display: inline-block; }
.c-footer__app-links a {
  display: inline-block;
  width: 120px; }

@media (min-width: 61.25em) {
  .c-footer__site-map li {
    margin-bottom: 4px; } }
.c-footer__site-map a {
  display: inline-block;
  width: 100%; }

.c-footer__about-link {
  margin-left: 32px; }

.c-footer__title {
  padding-bottom: 8px;
  font-weight: 700; }
  @media (min-width: 46.25em) {
    .c-footer__title {
      border-bottom: 1px solid #00000012;
      margin-bottom: 8px; } }
  @media (min-width: 61.25em) {
    .c-footer__title {
      border-bottom: 1px solid #00000012;
      margin-bottom: 16px; } }

.c-footer__app-kinks--android {
  display: flex;
  align-items: center; }
  .c-footer__app-kinks--android .android--icon svg {
    width: 20px;
    height: 20px; }

@media (min-width: 61.25em) {
  .c-footer__social-media {
    margin-bottom: 32px; } }

.c-input {
  font-family: "sstarabicroman-regular";
  flex: 1;
  display: block;
  border-radius: 4px;
  border: 0.5px solid #ddd;
  line-height: 26px;
  font-size: 16px;
  padding: 8px;
  width: 100%;
  position: relative;
  transition: background-color 0.4s, border 0.4s;
  background: #fff;
  box-shadow: 0px 2px 6px #f3f3f3;
  padding-right: 32px;
  -webkit-appearance: textfield; }
  .c-input:focus {
    outline: none;
    border: 0.5px solid #F4AC29;
    background-color: #f8f5eb; }

.c-input--search {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
  background: #fff;
  border-bottom: 2px solid #e9ab46;
  box-shadow: none;
  padding-right: 16px; }
  @media (min-width: 46.25em) {
    .c-input--search {
      padding-right: 32px;
      background: #fff url(../img/home/Shape.svg) no-repeat center right 10px; } }
  .c-input--search:focus {
    border-bottom: 2px solid #F4AC29; }

.c-input--subscription {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
  background: #fff;
  box-shadow: none;
  padding-right: 16px; }
  @media (min-width: 46.25em) {
    .c-input--subscription {
      padding-right: 42px;
      background: #fff url(../img/svg/mail.svg) no-repeat center right 10px; } }

.c-input--email {
  background: #fff url(../img/svg/arroba.svg) no-repeat center right 10px; }

.c-input--password {
  background: #fff url(../img/svg/locked.svg) no-repeat center right 10px; }

.c-input--username {
  background: #fff url(../img/svg/profile.svg) no-repeat center right 10px; }

.c-input--name {
  background: #fff url(../img/svg/id-card.svg) no-repeat center right 10px; }

.button-1 {
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.43); }

.c-button--search {
  background: #E25C1C url(../img/svg/Shape-white.svg) no-repeat 10px center; }
  @media (min-width: 46.25em) {
    .c-button--search {
      background: #E25C1C; } }

.c-button--email {
  background: #E25C1C url(../img/svg/mail-white.svg) no-repeat 10px center;
  background-size: 26px; }
  @media (min-width: 46.25em) {
    .c-button--email {
      background: #E25C1C; } }

.c-button {
  min-width: 132px;
  font-family: "sstarabicroman-regular";
  background: #E25C1C;
  border: none;
  border-radius: 4px;
  color: #f3f3f3;
  padding-top: 4px;
  padding-bottom: 12px;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer; }

.c-button--facebook {
  padding-left: 16px;
  padding-right: 32px;
  margin-top: 0;
  display: inline-block;
  margin-bottom: 16px;
  background: #4d70a8 url(../img/svg/facebook-white.svg) no-repeat center right 10px; }

.c-form--small label {
  display: none; }
.c-form--small form {
  width: 100%;
  position: relative;
  max-width: 100%; }
.c-form--small form p {
  display: flex; }
.c-form--small form button {
  font-family: "sstarabicroman-regular";
  color: #fff;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 16px;
  padding: 22px; }
  .c-form--small form button span {
    color: #fff;
    display: none; }
  @media (min-width: 46.25em) {
    .c-form--small form button {
      background: #E25C1C;
      padding: 10px 16px 14px 16px; }
      .c-form--small form button span {
        display: block; } }

.c-form {
  border-radius: 4px;
  box-shadow: 0 0 6px #d9d9d9;
  position: relative;
  background: #fff; }
  .c-form label {
    margin-bottom: 4px;
    display: inline-block; }
  .c-form p {
    margin-bottom: 16px; }
  .c-form::before {
    content: '';
    width: 65px;
    height: 65px;
    background: url(../img/basmaty-smile.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translateX(-50%); }

.c-form__wrapper {
  padding: 32px 16px;
  border-bottom: 1px solid #eee; }
  @media (min-width: 46.25em) {
    .c-form__wrapper {
      padding: 32px 32px 16px; } }

.c-form__recovery {
  font-size: 14px; }

.c-form__message {
  font-size: 14px;
  padding: 16px 16px 18px; }
  @media (min-width: 46.25em) {
    .c-form__message {
      padding: 16px 32px 16px; } }
  .c-form__message a {
    color: #E25C1C;
    font-weight: 700; }

.c-form__options {
  text-align: center;
  margin: 16px 0; }
  .c-form__options span {
    display: block;
    color: #E25C1C;
    z-index: 2;
    position: relative; }
    .c-form__options span::after {
      content: '';
      width: 40px;
      height: 40px;
      background-color: #f8f5eb;
      border-radius: 50%;
      position: absolute;
      transform: translateX(66%);
      z-index: -1; }

.c-tags {
  text-align: center;
  margin-top: 32px; }

.c-tag {
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 10px; }
  .c-tag a {
    font-size: 14px;
    display: inline-block;
    padding: 0 12px 4px 12px;
    color: #676767;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    line-height: 28px;
    text-transform: capitalize;
    background: rgba(255, 255, 255, 0.4);
    transition: all .3s ease; }
    @media (min-width: 46.25em) {
      .c-tag a {
        padding: 0 22px 6px 22px; } }
    .c-tag a:hover {
      background: #f8f5eb;
      color: #E25C1C;
      border-color: #E25C1C; }

svg {
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: middle; }

.c-icon {
  display: inline-block;
  vertical-align: middle; }

.c-icon--large {
  width: 36px;
  height: 36px; }

.c-icon--login {
  fill: #F4AC29; }
  @media (max-width: 980px) {
    .c-icon--login {
      width: 32px;
      height: 32px; } }

.c-icon--menu {
  fill: #E25C1C; }

.c-icon--circle {
  background: #f8f5eb;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle; }

.c-icon--facebook {
  background: #f8f5eb url("../img/svg/facebook-logo.svg") no-repeat center center;
  background-size: 16px; }

.c-icon--youtube {
  background: #f8f5eb url("../img/svg/youtube.svg") no-repeat center center;
  background-size: 16px; }

.c-icon--instagram {
  background: #f8f5eb url("../img/svg/instagram.svg") no-repeat center center;
  background-size: 16px; }

.c-section--newsletter__icon {
  text-align: center; }
  .c-section--newsletter__icon span {
    display: inline-block;
    width: 98px; }

.c-icon--arrow-down {
  fill: #fff; }

.c-links__title {
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
  font-weight: 700;
  font-size: 20px; }

.c-links {
  padding-left: 16px; }
  .c-links li {
    margin-bottom: 4px; }
  .c-links a {
    display: inline-block;
    width: 100%;
    transition: all 0.2s; }
    .c-links a:hover {
      color: #E25C1C; }

.c-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 26px;
  text-align: center; }
  @media (min-width: 46.25em) {
    .c-section-title {
      font-size: 24px; } }
  .c-section-title span {
    padding-left: 16px;
    padding-right: 16px; }
  .c-section-title strong {
    font-weight: 700;
    color: #E25C1C; }

.section-title--lines:before {
  content: "";
  height: 1px;
  background: #eee;
  flex: 1;
  margin-top: 10px; }

.section-title--lines:after {
  content: "";
  height: 1px;
  background: #eee;
  flex: 1;
  margin-top: 10px; }

.c-rating {
  font-size: 16px;
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center; }
  .c-rating span {
    font-size: 14px;
    color: #999;
    margin-right: 4px; }

.c-rating__stars {
  padding: 0;
  position: relative;
  z-index: 1;
  display: block;
  color: #C5C5C5; }
  .c-rating__stars::before {
    content: "\2605\2605\2605\2605\2605";
    top: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
    color: #F4AC29;
    overflow: hidden; }
  .c-rating__stars::after {
    content: "\2605\2605\2605\2605\2605";
    z-index: 0; }
  .c-rating__stars[data-rating]::before {
    width: 0; }
  .c-rating__stars[data-rating="0"]::before {
    width: 0%; }
  .c-rating__stars[data-rating="0.5"]::before {
    width: 10%; }
  .c-rating__stars[data-rating="1"]::before {
    width: 20%; }
  .c-rating__stars[data-rating="1.5"]::before {
    width: 30%; }
  .c-rating__stars[data-rating="2"]::before {
    width: 40%; }
  .c-rating__stars[data-rating="2.5"]::before {
    width: 50%; }
  .c-rating__stars[data-rating="3"]::before {
    width: 60%; }
  .c-rating__stars[data-rating="3.5"]::before {
    width: 70%; }
  .c-rating__stars[data-rating="4"]::before {
    width: 80%; }
  .c-rating__stars[data-rating="4.5"]::before {
    width: 90%; }
  .c-rating__stars[data-rating="5"]::before {
    width: 100%; }

.c-media__thumb {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  transition: 0.4s; }
  .c-media__thumb::after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 60%; }
  .c-media__thumb img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }

.c-media {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  position: relative; }

.c-media__content {
  margin-bottom: 2rem; }

.c-media__title {
  font-size: 18px;
  font-weight: 700;
  order: 1; }
  .c-media__title a {
    transition: 0.4s; }
    .c-media__title a:hover {
      color: #E25C1C; }
    .c-media__title a::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2; }

.c-media__cat {
  font-size: 14px;
  order: 0; }

.c-media__author__name {
  font-size: 14px; }

.c-media__author {
  margin-top: auto;
  order: 2;
  z-index: 3; }
  .c-media__author a {
    display: inline-block;
    width: 100%;
    /*??*/ }
    .c-media__author a:hover {
      color: #E25C1C; }

.c-media__author__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle; }
  .c-media__author__icon img {
    width: 100%;
    object-fit: contain; }

.c-media__rating {
  order: 2;
  margin-bottom: 4px; }

.c-media__description {
  color: #4F4F4F;
  order: 2; }

.c-store-badge {
  display: inline-block;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  color: #f3f3f3;
  background: transparent;
  min-width: 100px;
  background-size: 30px;
  line-height: 1;
  padding: 8px;
  padding-right: 38px;
  margin-bottom: 16px;
  transition: 0.4s; }
  .c-store-badge:hover {
    box-shadow: 0 0 16px #ab5111; }
  @media (min-width: 61.25em) {
    .c-store-badge {
      margin-bottom: 0; } }

.c-store-badge--ios {
  background: url(../img/svg/apple.svg) no-repeat center right 6px; }

.c-store-badge--android {
  background: url(../img/svg/android-logo.svg) no-repeat center right 6px; }

.c-store-badge__text {
  font-size: 12px;
  vertical-align: top; }

.c-store-badge__storename {
  font-size: 12px; }

.c-recipe-rounded {
  text-align: center;
  position: relative; }
  @media (min-width: 46.25em) {
    .c-recipe-rounded {
      margin-bottom: 0; } }
  .c-recipe-rounded:not(:last-of-type) {
    margin-bottom: 32px; }
  .c-recipe-rounded:hover .c-recipe-rounded__img {
    transition: 0.4s;
    border-color: #E25C1C; }
  .c-recipe-rounded:hover .c-recipe-rounded__category {
    border-color: #E25C1C; }

.c-recipe-rounded__img {
  border: 4px solid #fff;
  border-radius: 50%;
  height: 224px;
  width: 224px;
  border: 8px solid #FFFFFF;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: -36px;
  transition: 0.4s; }
  .c-recipe-rounded__img:hover {
    border-color: #E25C1C; }
  .c-recipe-rounded__img img {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.c-recipe-rounded__category {
  display: inline-block;
  text-align: center;
  padding: 0 6px 6px;
  border: 3px solid #FFFFFF;
  border-radius: 22px;
  background-color: #E25C1C;
  color: #fff;
  min-width: 116px; }

.c-recipe-rounded__text {
  font-size: 20px; }
  .c-recipe-rounded__text a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }

.c-viewers {
  margin-right: 16px;
  padding-right: 30px;
  background: url(../img/svg/eye.svg) no-repeat top 6px right; }
  .c-viewers span {
    font-size: 14px; }
  .c-viewers strong {
    font-size: 14px; }

.c-featured-recipe {
  box-shadow: 0 0 18px #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: 0.4s; }
  .c-featured-recipe:hover {
    box-shadow: 0 0 36px #c2c2c2; }

.c-featured-recipe__thumb {
  width: 100%;
  position: relative; }
  .c-featured-recipe__thumb::after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 56%; }
  .c-featured-recipe__thumb img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.c-featured-recipe__category {
  position: absolute;
  top: 10px;
  right: 0;
  background: #E25C1C;
  display: inline-block;
  padding: 0 12px 6px;
  color: #f3f3f3;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px; }

.c-featured-recipe__details {
  padding: 8px 16px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff; }

.c-featured-recipe__description {
  padding: 6px 0;
  color: #8A8A8A; }

.item-a .c-featured-recipe__description {
  display: none; }
  @media (min-width: 61.25em) {
    .item-a .c-featured-recipe__description {
      display: block; } }

.c-featured-recipe__popularity {
  display: flex;
  margin-top: auto; }

.c-featured-recipe__name {
  font-size: 18px; }
  .c-featured-recipe__name a {
    transition: 0.4s; }
    .c-featured-recipe__name a:hover {
      color: #E25C1C; }
    .c-featured-recipe__name a::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2; }

@media (min-width: 61.25em) {
  .item-a .c-featured-recipe__name {
    font-weight: 700;
    font-size: 20px; } }

.item-b p {
  display: none; }

.item-c p {
  display: none; }

.item-d p {
  display: none; }

.c-recipe--video::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 1;
  background: url(../img/home/play.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.c-breadcrumb li {
  display: inline-block; }
  .c-breadcrumb li:not(:first-of-type) {
    /*last*/
    /*::after{
      content: '';
      display: inline-block;
      width:16px;
      height:16px;
      vertical-align: middle;
      background: url("../img/svg/angle-pointing-to-left.svg") no-repeat center right;
    }*/
    padding-right: 20px;
    /*left*/
    background: url(../img/svg/angle-pointing-to-left.svg) no-repeat top 12px right;
    background-size: 16px; }
.c-breadcrumb a {
  display: inline-block; }
  .c-breadcrumb a:not(:first-of-type) {
    padding-right: 8px; }
  @media (max-width: 500px) {
    .c-breadcrumb a {
      font-size: 12px; } }
.c-breadcrumb a.current {
  font-weight: 700; }

.c-recipe {
  position: relative; }

.c-recipe__title {
  font-size: 22px;
  font-weight: 700;
  color: #E25C1C; }
  @media (min-width: 46.25em) {
    .c-recipe__title {
      font-size: 32px; } }

.c-recipe__summary {
  color: #676767;
  margin-bottom: 26px;
  font-size: 14px; }
  @media (min-width: 46.25em) {
    .c-recipe__summary {
      font-size: 16px; } }

.c-recipe__image-container {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 16px #a9a9a9;
  z-index: 1; }
  .c-recipe__image-container::after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 64%; }
  .c-recipe__image-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.c-recipe__popularity {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px; }
  @media (min-width: 61.25em) {
    .c-recipe__popularity {
      border-bottom: 1px solid #ccc; } }

.c-recipe__print {
  cursor: pointer;
  display: none; }
  @media (min-width: 61.25em) {
    .c-recipe__print {
      display: block;
      margin-right: auto; } }

.c-recipe__section-title {
  color: #E25C1C;
  font-weight: 700;
  font-size: 20px;
  padding-top: 8px; }

.c-recipe__section-subtitle {
  font-weight: 700;
  font-size: 14px; }

.c-recipe__ingredients li {
  font-size: 14px; }
  .c-recipe__ingredients li::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #F4AC29;
    margin-left: 8px; }

.c-recipe__instructions {
  counter-reset: step; }
  .c-recipe__instructions li {
    display: flex; }
    .c-recipe__instructions li::before {
      content: '';
      counter-increment: step;
      content: counters(step,"");
      padding-left: 8px;
      color: #E25C1C; }

.c-recipe__content {
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px; }

.c-recipe__review h3 {
  margin-bottom: 16px;
  margin-top: 16px; }
.c-recipe__review textarea {
  width: 100%;
  border-radius: 4px;
  border: none;
  border: 1px solid #ccc;
  resize: none;
  outline: none;
  overflow: hidden; }
  .c-recipe__review textarea:focus {
    border-color: #E25C1C; }

.c-recipe__summary-data {
  border-bottom: 1px solid #eee;
  padding-top: 16px;
  padding-bottom: 8px;
  display: flex;
  border-bottom: none; }
  @media (max-width: 540px) {
    .c-recipe__summary-data {
      justify-content: space-between;
      padding-top: 54px; } }
  @media (min-width: 62.5em) {
    .c-recipe__summary-data {
      padding-top: 32px; } }

.c-recipe__summary-data-item {
  display: flex;
  position: relative;
  line-height: 1.5; }
  .c-recipe__summary-data-item::before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    background-size: 40px, 50px;
    background-repeat: no-repeat; }
  @media (min-width: 33.75em) {
    .c-recipe__summary-data-item {
      flex-direction: column;
      margin-left: 64px;
      padding-right: 52px; }
      .c-recipe__summary-data-item::before {
        left: 60%;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 8px; } }
  @media (min-width: 46.25em) {
    .c-recipe__summary-data-item {
      flex-direction: column; }
      .c-recipe__summary-data-item::before {
        margin-left: 0; } }
  .c-recipe__summary-data-item span {
    font-size: 14px;
    color: #888; }
  .c-recipe__summary-data-item strong {
    color: #E25C1C;
    font-size: 16px;
    font-weight: 700; }

.c-recipe--yield::before {
  background: url(../img/svg/serving.svg) no-repeat top, radial-gradient(circle, #f8f5eb 22px, transparent 1px) center; }

.c-recipe--total-time::before {
  background: url(../img/svg/cooking.svg) no-repeat top, radial-gradient(circle, #f8f5eb 22px, transparent 1px) center; }

.c-recipe--active-time::before {
  background: url(../img/svg/prepartion.svg) no-repeat top, radial-gradient(circle, #f8f5eb 22px, transparent 1px) center; }

.c-recipe__side-content {
  border-bottom: 1px solid #eee;
  padding-bottom: 8px; }
  @media (min-width: 62.5em) {
    .c-recipe__side-content {
      border-bottom: none;
      background: #fff;
      right: 100%; } }

.c-recipe__brought-by {
  display: inline-block;
  border-bottom: 2px solid orange;
  font-size: 14px;
  padding-bottom: 4px; }
  .c-recipe__brought-by Strong {
    font-weight: 700; }
  @media (min-width: 62.5em) {
    .c-recipe__brought-by {
      font-size: 16px;
      border-bottom: none;
      padding: 4px 16px;
      background: orange;
      display: inline-block;
      border-radius: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; } }

@media (min-width: 62.5em) {
  .c-recipe__share {
    padding-right: 16px; } }

.c-recipe__author {
  padding-top: 12px;
  padding-bottom: 8px; }
  .c-recipe__author span {
    font-size: 14px; }
  .c-recipe__author strng {
    font-weight: 700; }
  @media (min-width: 62.5em) {
    .c-recipe__author {
      padding: 16px 0;
      padding: 32px 0;
      padding-right: 16px;
      display: flex;
      align-items: center; }
      .c-recipe__author .c-recipe__author__info {
        display: flex;
        flex-direction: column;
        line-height: 1.5; } }

.c-recipe__author__icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  margin-left: 4px; }
  @media (min-width: 62.5em) {
    .c-recipe__author__icon {
      width: 40px;
      height: 40px;
      margin-left: 10px; } }
  .c-recipe__author__icon img {
    width: 100%;
    object-fit: contain; }

.c-recipe__author__info {
  display: inline-block; }

.recipe-content {
  max-width: 700px; }

.recipe-top-content .c-recipe__side-content {
  margin-top: 10px; }
@media (min-width: 62.5em) {
  .recipe-top-content {
    display: flex; }
    .recipe-top-content .recipe-content {
      flex-basis: 700px; }
    .recipe-top-content .c-recipe__side-content {
      margin-top: 70px; } }

.c-pagination {
  text-align: center;
  padding: 32px 0; }
  .c-pagination svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: -4px; }

.c-pagination {
  border-top: 1px solid #ccc; }
  .c-pagination li {
    display: inline; }
  .c-pagination a, .c-pagination span {
    color: #4F4F4F;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 50%;
    padding: 10px; }

.c-pagination__pages a, .c-pagination__pages span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 3px;
  line-height: 1; }

.c-pagination__pages a.selected {
  background: #E25C1C;
  color: #f3f3f3;
  border-color: #E25C1C; }

a.c-pagination--back, a.c-pagination--next {
  background: #8A8A8A;
  border-color: #8A8A8A; }

a.disable {
  background: #cccccc;
  border-color: #cccccc;
  pointer-events: none; }

@media (max-width: 740px) {
  .c-pagination__pages li a, .c-pagination__pages li span {
    display: none; }
  .c-pagination__pages .c-pagination--next, .c-pagination__pages .c-pagination--back {
    display: inline-block; } }
.c-media-horizontal {
  margin-bottom: 32px;
  transition: transform 0.2s ease-out; }
  .c-media-horizontal:hover {
    transform: scale(1.01);
    background: linear-gradient(to left, #FEF6E8, rgba(0, 0, 0, 0)); }
    .c-media-horizontal:hover .c-recipe--video:before {
      transform: translate(-50%, -50%) scale(1.1); }
  .c-media-horizontal .c-media__title {
    margin-bottom: 8px; }
  .c-media-horizontal .c-media__cat {
    margin-bottom: 8px; }
  .c-media-horizontal .c-media__thumb {
    margin-bottom: 0; }

@media (min-width: 46.875em) {
  .c-media-horizontal__details {
    padding-left: 100px; } }

.search-results {
  border-bottom: 1px solid #eee; }

.c-section--filters {
  display: none; }
  @media (min-width: 46.25em) {
    .c-section--filters {
      display: block; } }

@media (min-width: 740px) {
  .c-filter__body {
    position: absolute;
    top: 100%;
    background: #E25C1C;
    width: 100%;
    z-index: 1;
    min-width: 150px; }
    .c-filter__body li:not(:last-of-type) {
      border-bottom: 1px solid #fff; }
    .c-filter__body input {
      position: absolute;
      visibility: hidden; }
    .c-filter__body input[type="checkbox"]:checked + label:before {
      background-image: url(../img/svg/check.svg); }
    .c-filter__body label {
      color: #fff;
      padding: 10px 8px;
      font-size: 14px;
      line-height: 1;
      align-items: center;
      display: flex;
      cursor: pointer; }
      .c-filter__body label::before {
        content: '';
        background: #f8f5eb;
        height: 1rem;
        width: 1rem;
        margin-left: .6875rem; }

  .c-filter__title {
    padding: 12px 0 16px; }
    .c-filter__title svg {
      width: 16px;
      height: 16px; }
    .c-filter__title span {
      font-weight: 700;
      color: #fff; }

  .c-filter {
    position: relative;
    transition: .4s; }
    .c-filter:not(:first-of-type) {
      margin-right: 32px; } }
.c-author {
  text-align: center; }

.c-author__avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 112px;
  width: 112px;
  box-shadow: 0 0 2px 0 #E25C1C, 0 4px 14px 0 #f4c65e;
  border: 6px solid #fff;
  margin: 0 auto; }
  .c-author__avatar img {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.c-author__name {
  font-size: 20px; }

.c-author__info {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 46.25em) {
    .c-author__info {
      flex-direction: row;
      justify-content: space-evenly; } }

.c-author__share {
  display: flex; }

.c-author__details {
  display: flex;
  margin-bottom: 12px; }
  @media (min-width: 46.25em) {
    .c-author__details {
      margin-bottom: 0; } }
  @media (min-width: 46.25em) {
    .c-author__details .c-viewers {
      margin-right: 64px; } }

@media print {
  header, footer, nav {
    display: none !important; }

  body {
    line-height: 1.3;
    color: #000;
    border: 1px solid #ccc; }

  h1 {
    font-size: 24pt; }

  h2 {
    font-size: 14pt;
    margin-top: 25px; }

  header:after {
    display: block;
    content: "www.basmaty.com"; }

  a {
    color: #000; }

  a:after {
    content: " [http://www.basmaty.com/" attr(href) "]";
    font-size: 80%;
    word-wrap: break-word; }

  .c-section--related-recipes, .c-recipe__review, .c-section--search,
  .c-breadcrumb, .c-recipe__popularity, .c-recipe__side-content {
    display: none; }

  .c-recipe--video::before {
    background: none; }

  h1, h2, h3, h4, span, strong {
    color: #000 !important;
    font-weight: 300; }

  .c-recipe__image-container {
    display: block;
    width: 200px; }
    .c-recipe__image-container::after {
      padding-bottom: 50%; }

  .c-recipe__summary-data strong {
    font-weight: 300; }

  .c-recipe__title {
    margin-bottom: 16px;
    margin-top: 16px; } }

/*# sourceMappingURL=app.css.map */
