.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.u-wrapper {
  max-width: 76.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.u-offset-vertical {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.u-offset-vertical-mini {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.u-offset-bottom {
  padding-bottom: 2rem; }

.u-offset-start {
  margin-right: 0.5rem; }

.u-push-bottom {
  margin-bottom: 1rem; }

.u-backdrop-grey {
  background-color: #f1f1f1; }

.u-font-large {
  font-size: 1.25rem; }

.u-color-primary {
  color: #E25C1C; }

.u-color-secondary {
  color: #F4AC29; }

.u-center {
  text-align: center; }

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
img,
small,
strong,
ol,
ul,
li,
form,
label,
article,
aside,
footer,
header,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

ol,
ul,
li {
  list-style: none; }

html {
  box-sizing: border-box;
  color: #4F4F4F;
  direction: rtl; }

*,
*:before,
*:after {
  box-sizing: inherit;
  -moz-box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

button,
input,
textarea {
  color: inherit;
  font-style: inherit;
  font-weight: inherit; }

input:not[type="checkbox"],
button {
  appearance: none; }

img {
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: 'SSTArabic-bold';
  src: url("../fonts/SSTBold/SSTArabicBold.woff2"), url("../fonts/SSTBold/SSTArabicBold.woff") format("woff"), url("../fonts/SSTBold/SSTArabicBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sstarabicroman-regular';
  src: url("../fonts/sstroman/sstarabicroman.woff2"), url("../fonts/sstroman/SSTArabicRoman.woff") format("woff"), url("../fonts/sstroman/SSTArabicRoman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: sans-serif;
  font-family: "sstarabicroman-regular";
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  direction: rtl; }

.container {
  width: 1080px;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1200px) {
    .container {
      padding-left: 0;
      padding-right: 0; } }

.o-layout {
  display: grid;
  grid-gap: 16px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }

@media (min-width: 700px) {
  .o-layout--3 {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 700px) {
  .o-layout--4 {
    grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 46.25em) {
  .o-layout--small {
    width: 530px;
    max-width: 100%;
    margin: 0 auto; } }

.c-section {
  padding-top: 32px;
  padding-bottom: 32px; }

.c-section--light {
  background: #F9F9F8; }

.c-section--hero {
  box-shadow: 0 4px 11px #e7e7e7;
  background: url(../img/home/basmaty-pattern2.png) no-repeat center bottom, linear-gradient(transparent, #F9F9F9 99%) no-repeat, url(../img/home/hero-pattern.png) no-repeat center center, #F9F9F9;
  background-size: 100%, 100% 200px, cover;
  background-position: bottom, bottom, center;
  padding-bottom: 70px; }
  .c-section--hero h2 {
    font-size: 32px; }

.c-section--newsletter {
  background: url(../img/home/newsletter-pattern.png) no-repeat center bottom, linear-gradient(transparent, #FDFAF3 99%) no-repeat, #FDFAF3;
  background-size: cover;
  background-position: center;
  border-top: 3px solid #F4AC29; }

.c-header {
  box-shadow: 0 0 4px #00000047;
  position: relative; }
  .c-header::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to right, #F4AC29, #E25C1C); }
  .c-header .toggle {
    border: none;
    background: transparent; }
    @media (min-width: 990px) {
      .c-header .toggle {
        display: none; } }
  .c-header .container {
    width: 1280px; }

.c-header .container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between; }

.c-header__social-links {
  display: none; }
  @media (min-width: 1124px) {
    .c-header__social-links {
      display: flex; } }

.c-header__social-media li {
  display: inline-block;
  padding-right: 4px; }

@media (max-width: 990px) {
  .c-header__menu.open {
    height: auto;
    display: block;
    background: #f3f3f3;
    box-shadow: 0 0 4px #00000047;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    z-index: 1; }
    .c-header__menu.open .header__menu__item {
      border-bottom: 1px solid #eee; }
      .c-header__menu.open .header__menu__item a {
        display: inline-block;
        padding: 8px 16px;
        width: 100%; }
      .c-header__menu.open .header__menu__item a.active {
        border-right: 2px solid #E25C1C; } }

.c-header__menu {
  display: none; }
  @media (min-width: 990px) {
    .c-header__menu {
      display: block;
      order: 1; }
      .c-header__menu .header__menu__item {
        display: inline-block;
        padding-right: 28px; }
        .c-header__menu .header__menu__item a {
          display: inline-block;
          padding-top: 22px;
          padding-bottom: 22px; }
      .c-header__menu a.active {
        color: #E25C1C;
        font-weight: 700; } }

.c-header__logo a {
  width: 140px;
  display: flex;
  align-items: center;
  padding: 22px; }
@media (min-width: 990px) {
  .c-header__logo {
    order: 0;
    border-left: 1px solid #eee; } }

@media (min-width: 990px) {
  .c-header__social-links {
    order: 2;
    margin-right: auto; } }

.c-header__user-actions span {
  display: none; }
@media (min-width: 990px) {
  .c-header__user-actions {
    border-right: 1px solid #eee;
    margin-right: 16px;
    order: 3; }
    .c-header__user-actions a {
      display: inline-block;
      padding: 22px; }
    .c-header__user-actions span {
      display: inline-block; } }

.c-footer {
  background-size: 100%, contain;
  border-top: 8px solid #F4AC29;
  color: #f3f3f3;
  padding-top: 32px;
  padding-bottom: 64px;
  background: #E25C1C url(../img/home/footer-pattern.png) no-repeat center bottom;
  background-size: 100% 55px; }

.c-footer__quick-links {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 32px; }
  @media (min-width: 46.25em) {
    .c-footer__quick-links {
      margin-left: 64px;
      padding-bottom: 0;
      border-bottom: 0; } }
  @media (min-width: 46.25em) {
    .c-footer__quick-links .c-footer__logo {
      margin-bottom: 32px; } }
  .c-footer__quick-links .c-footer__logo a {
    display: inline-block;
    background-size: 100% 100%;
    width: 195px; }

.c-footer__social-links {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 32px; }
  @media (min-width: 46.25em) {
    .c-footer__social-links {
      margin-left: 64px;
      padding-bottom: 0;
      border-bottom: 0; } }

.c-footer__social-media li {
  display: inline-block;
  margin-right: 4px; }
.c-footer__social-media a {
  display: inline-block; }
  .c-footer__social-media a svg {
    fill: #fff;
    width: 32px;
    height: 32px;
    transition: fill 0.2s ease-in-out; }
    .c-footer__social-media a svg:hover {
      fill: #f2e3b9; }

.c-footer__app-links li {
  display: inline-block; }
.c-footer__app-links a {
  display: inline-block;
  width: 120px; }

.c-footer__site-map li {
  margin-bottom: 4px; }
.c-footer__site-map a {
  display: inline-block;
  width: 100%; }

.c-footer__about-link {
  margin-left: 32px; }

.c-footer__title {
  padding-bottom: 8px;
  margin-bottom: 16px;
  font-weight: 700; }
  @media (min-width: 46.25em) {
    .c-footer__title {
      border-bottom: 1px solid #00000012; } }

.c-footer__app-kinks--android {
  display: flex;
  align-items: center; }
  .c-footer__app-kinks--android .android--icon svg {
    width: 20px;
    height: 20px; }

.c-footer__social-media {
  margin-bottom: 32px; }

.c-input {
  font-family: "sstarabicroman-regular";
  flex: 1;
  display: block;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 0.5px solid #ccc;
  line-height: 26px;
  font-size: 16px;
  padding: 8px;
  border-left: none;
  position: relative;
  transition: 0.4s; }
  @media (min-width: 46.25em) {
    .c-input {
      padding-right: 45px; } }
  .c-input:focus {
    outline: none;
    border: 1px solid #F4AC29;
    background: #f8f5eb; }

.c-input--search {
  background: #fff;
  border-bottom: 2px solid #e9ab46;
  transition: 0.4s; }
  @media (min-width: 46.25em) {
    .c-input--search {
      background: #fff url(../img/home/Shape.svg) no-repeat center right 10px; } }

.c-input--subscription {
  background: #fff; }
  @media (min-width: 46.25em) {
    .c-input--subscription {
      background: #fff url(../img/svg/mail.svg) no-repeat center right 10px; } }

.button-1 {
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.43); }

.c-button--search {
  background: #E25C1C url(../img/home/Shape.svg) no-repeat 10px center; }
  @media (min-width: 46.25em) {
    .c-button--search {
      background: #E25C1C; } }

.c-button--email {
  background: #E25C1C url(../img/svg/mail.svg) no-repeat 10px center;
  background-size: 26px; }
  @media (min-width: 46.25em) {
    .c-button--email {
      background: #E25C1C; } }

.c-form--small {
  margin-bottom: 32px; }
  .c-form--small label {
    display: none; }
  .c-form--small form {
    width: 100%;
    position: relative;
    max-width: 100%; }
  .c-form--small form p {
    display: flex; }
  .c-form--small form button {
    font-family: "sstarabicroman-regular";
    color: #fff;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
    padding: 22px; }
    .c-form--small form button span {
      color: #fff;
      display: none; }
    @media (min-width: 46.25em) {
      .c-form--small form button {
        background: #E25C1C;
        padding: 10px 16px 14px 16px; }
        .c-form--small form button span {
          display: block; } }

.c-tags {
  text-align: center; }

.c-tag {
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 10px; }
  .c-tag a {
    font-size: 14px;
    display: inline-block;
    padding: 0 22px 6px 22px;
    color: #676767;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    line-height: 28px;
    text-transform: capitalize;
    transition: all .3s ease; }
    .c-tag a:hover {
      color: #F4AC29;
      border-color: #F4AC29; }

svg {
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: middle; }

.c-icon {
  display: inline-block;
  vertical-align: middle; }

.c-icon--large {
  width: 36px;
  height: 36px; }

.c-icon--login {
  fill: #F4AC29; }

.c-icon--menu {
  fill: #E25C1C; }

.c-icon--circle {
  background: #f8f5eb;
  width: 26px;
  height: 26px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle; }

.c-icon--facebook {
  background: #f8f5eb url("../img/svg/facebook.svg") no-repeat center center;
  background-size: 16px; }

.c-icon--youtube {
  background: #f8f5eb url("../img/svg/youtube.svg") no-repeat center center;
  background-size: 16px; }

.c-icon--instagram {
  background: #f8f5eb url("../img/svg/instagram.svg") no-repeat center center;
  background-size: 16px; }

.c-section--newsletter__icon {
  text-align: center; }
  .c-section--newsletter__icon span {
    display: inline-block;
    width: 98px; }

.c-links__title {
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
  font-weight: 700;
  font-size: 20px; }

.c-links {
  padding-left: 16px; }
  .c-links li {
    margin-bottom: 4px; }
  .c-links a {
    display: inline-block;
    width: 100%;
    transition: all 0.2s; }
    .c-links a:hover {
      color: #E25C1C; }

.c-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 26px;
  text-align: center; }
  .c-section-title span {
    padding-left: 16px;
    padding-right: 16px; }
  .c-section-title strong {
    font-weight: 700;
    color: #E25C1C; }

.section-title--lines:before {
  content: "";
  height: 1px;
  background: #eee;
  flex: 1; }

.section-title--lines:after {
  content: "";
  height: 1px;
  background: #eee;
  flex: 1; }

.c-rating {
  font-size: 16px;
  position: relative;
  display: inline-block; }

.c-rating__stars {
  padding: 0;
  position: relative;
  z-index: 1;
  display: block;
  color: #C5C5C5; }
  .c-rating__stars::before {
    content: "\2605\2605\2605\2605\2605";
    top: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
    color: #F4AC29;
    overflow: hidden; }
  .c-rating__stars::after {
    content: "\2605\2605\2605\2605\2605";
    z-index: 0; }
  .c-rating__stars[data-rating]::before {
    width: 0; }
  .c-rating__stars[data-rating="0"]::before {
    width: 0%; }
  .c-rating__stars[data-rating="0.5"]::before {
    width: 10%; }
  .c-rating__stars[data-rating="1"]::before {
    width: 20%; }
  .c-rating__stars[data-rating="1.5"]::before {
    width: 30%; }
  .c-rating__stars[data-rating="2"]::before {
    width: 40%; }
  .c-rating__stars[data-rating="2.5"]::before {
    width: 50%; }
  .c-rating__stars[data-rating="3"]::before {
    width: 60%; }
  .c-rating__stars[data-rating="3.5"]::before {
    width: 70%; }
  .c-rating__stars[data-rating="4"]::before {
    width: 80%; }
  .c-rating__stars[data-rating="4.5"]::before {
    width: 90%; }
  .c-rating__stars[data-rating="5"]::before {
    width: 100%; }

.c-recipe__thumb {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
  overflow: hidden;
  height: 0;
  padding-bottom: 60%;
  position: relative; }
  .c-recipe__thumb img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }
  .c-recipe__thumb::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 1;
    background: url(../img/home/play.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.c-recipe {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  position: relative; }

.c-recipe__content {
  margin-bottom: 2rem; }

.c-recipe__title {
  font-size: 18px;
  font-weight: 700;
  order: 1; }
  .c-recipe__title a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }

.c-recipe__description {
  font-size: 14px;
  order: 0; }

.c-recipe__author__name {
  font-size: 14px; }

.c-recipe__author {
  margin-top: auto;
  order: 2;
  z-index: 1; }
  .c-recipe__author a {
    display: inline-block;
    width: 100%;
    /*??*/ }
    .c-recipe__author a:hover {
      color: #E25C1C; }

.c-recipe__author__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle; }
  .c-recipe__author__icon img {
    width: 100%;
    object-fit: contain; }

.c-recipe__rating {
  order: 2;
  margin-bottom: 4px; }
  .c-recipe__rating span {
    font-size: 14px;
    color: #999; }

.c-store-badge {
  display: inline-block;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  color: #f3f3f3;
  background: transparent;
  min-width: 100px;
  background-size: 30px;
  line-height: 1;
  padding: 8px;
  padding-right: 38px;
  margin-bottom: 16px; }
  @media (min-width: 61.25em) {
    .c-store-badge {
      margin-bottom: 0; } }

.c-store-badge--ios {
  background: url(../img/svg/apple.svg) no-repeat center right 6px; }

.c-store-badge--android {
  background: url(../img/svg/android-logo.svg) no-repeat center right 6px; }

.c-store-badge__text {
  font-size: 12px;
  vertical-align: top; }

.c-store-badge__storename {
  font-size: 12px; }

/*# sourceMappingURL=app.css.map */
