$mq-breakpoints: (
        mobile:  320px,
        tablet:  740px,
        desktop: 980px,
        wide:    1300px
);



@mixin basefont-regular {
  font-family: "SSTArabicRoman-regular";
}
@mixin basefont-regular {
  font-family: "sstarabicroman-regular";
}

@mixin not-last-child() {
  &:not(:last-of-type) {
    @content
  }
}
@mixin not-first-child() {
  &:not(:first-of-type) {
    @content
  }
}
