.c-breadcrumb {
  li {
    display: inline-block;

    @media (min-width: 600px) {
      @include not-last-child() {
        /*::after{
          content: '';
          display: inline-block;
          width:16px;
          height:16px;
          vertical-align: middle;
          background: url("../img/svg/angle-pointing-to-left.svg") no-repeat center right;
        }*/
        padding-left: 16px;
        background: url(../img/svg/angle-pointing-to-left.svg) no-repeat top 12px left;
        background-size: 16px;
      }
    }
    @media (max-width: 600px) {
      @include not-first-child() {
        padding-left: 0;
        padding-right: 16px;
        background: url(../img/svg/angle-pointing-to-left.svg) no-repeat top 16px right;
        background-size: 14px;
        display: block;
      }

    }
  }
  a {
    display: inline-block;
    padding: 0 $unit-small;
    @media (max-width:500px){
        font-size: 14px;
    }
  }
  a.current {
    font-weight: 700;
  }
}