.button-1{
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.43);
}


.c-button--search{
  background: $color-brand-primary url(../img/svg/Shape-white.svg) no-repeat 10px center;
  @include mq($from: tablet) {
    background: $color-brand-primary;
    }
}

.c-button--email{
  background: $color-brand-primary url(../img/svg/mail-white.svg) no-repeat 10px center;
  background-size: 26px;
  @include mq($from: tablet) {
    background: $color-brand-primary;
  }
}

.c-button{
  display: block;
  @include basefont-regular;
  background: $color-brand-primary;
  border:none;
  border-radius: 4px;
  color: $color-white;
  padding: 10px 32px 16px;
  font-size: $unit;
  margin: 32px 0 ;
  cursor: pointer;
}

