.c-footer {
  background-size: 100%, contain;
  border-top: $unit-small solid $color-brand-secondary;
  color: $color-white;
  padding-top: $unit-large;
  padding-bottom: $unit-huge;
  background: $color-brand-primary url(../img/home/footer-pattern.png) no-repeat center bottom;
  background-size: 100% 55px;
}

.c-footer__quick-links {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  padding-bottom: $unit-small;
  @include mq($from: tablet) {
    margin-left: $unit-huge;
    padding-bottom: 0;
    border-bottom: 0;
  }
  .c-footer__logo {
    @include mq($from: tablet) {
      padding-bottom: $unit-large;
    }
    a {
      display: inline-block;
      background-size: 100% 100%;
      width: 155px;
      @include mq($from: desktop) {
        width: 195px;
      }
    }
  }
}

.c-footer__social-links {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  @include mq($from: tablet) {
    margin-left: $unit-huge;
    padding-bottom: 0;
    border-bottom: 0;
  }
  @include mq($from: desktop){
    padding-bottom: $unit-large;
  }

}

.c-footer__social-media {
  li {
    display: inline-block;
    margin-right: $unit-small;
    @include mq($from: desktop){
      margin-right: $unit-tiny;
    }

  }
  a {
    display: inline-block;
    svg {
      fill: #fff;
      width: 32px;
      height: 32px;
      transition: fill 0.2s ease-in-out;
      &:hover {
        fill: #f2e3b9;
      }
    }
  }
}

.c-footer__app-links {
  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    width: 120px;
  }
}

.c-footer__site-map {
  li {
    @include mq($from: desktop) {
      margin-bottom: $unit-tiny;
    }
  }
  a {
    display: inline-block;
    width: 100%;
  }
}

.c-footer__about-link {
  margin-left: $unit-large;
}

.c-footer__title {
  padding-bottom: $unit-small;

  font-weight: 700;

  @include mq($from: tablet) {
    border-bottom: 1px solid #00000012;
    margin-bottom: $unit-small;

  }
  @include mq($from: desktop) {
    border-bottom: 1px solid #00000012;
    margin-bottom: $unit;

  }


}

.c-footer__app-kinks--android {
  display: flex;
  align-items: center;
  .android--icon {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.c-footer__social-media {

  @include mq($from: desktop) {
    margin-bottom: $unit-large;
  }
}