.c-form--small {
  //margin-bottom: $unit-large;
  label {
    display: none;
  }
  form {
    width: 100%;
    position: relative;
    max-width: 100%;
  }
  form p {
    display: flex;
  }


  form button {
    span {
      color: #fff;
      display: none;
    }
    @include basefont-regular;
    color: #fff;
    //background: $color-brand-primary;
    //background: $color-brand-primary url(../img/home/Shape.svg) no-repeat 10px center;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: $unit;
    padding: 22px;
    @include mq($from: tablet) {
      background: $color-brand-primary;
      padding: 10px 16px 14px 16px;
      span {
        display: block;
      }
    }
  }
}


.c-form{
  border-radius: $unit-tiny;
  box-shadow: 0 0 6px #d9d9d9;
  position: relative;
  background: #fff;
  p{
    margin-bottom: $unit;
  }

  &::before{
    content: '';
    width:65px;
    height: 65px;
    background: url(../img/basmaty-smile.png) no-repeat;
    background-size: contain;
    position: absolute;
    left:50%;
    top: -40px;
    transform: translateX(-50%);

  }
}
.c-form__wrapper{
  padding:  $unit-large  $unit-large $unit;
  border-bottom: 1px solid #eee;
}

.c-form__recovery{
  font-size: 14px;
}
.c-form__message{
  font-size: 14px;
  padding: 16px 16px 18px;;
    a{
      color: $color-brand-primary;
      font-weight: 700;
    }
}

.c-form__options{
  text-align: center;
  margin: 16px 0;
  span{
    display: block;
    color: $color-brand-primary;
    z-index: 2;
    position: relative;
    &::after{
      content: '';
      width: 40px;
      height: 40px;
      background-color: #f8f5eb;
      border-radius: 50%;
      position: absolute;
      transform: translateX(66%);
      z-index: -1;

    }
  }
}