.c-header {
  box-shadow: 0 0 4px #00000047;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to right, $color-brand-secondary, $color-brand-primary);
  }

  .toggle {
    border: none;
    background: transparent;
    @media (min-width: 990px) {
      display: none;
    }
  }

  .container {
    width: 1280px;
  }
}

.c-header {
  .container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.c-header__social-links {
  display: none;

  @media (min-width: 1124px) {
    display: flex;
  }
}

.c-header__social-media {
  li {
    display: inline-block;
    padding-right: 4px;
  }
}

.c-header__menu.open {
  //animation
  //height:0;
  //transition: height 0.3s ease-in-out;
  //height: auto;
  @media (max-width: 990px) {
    height: auto;
    display: block;
    background: $color-white;
    box-shadow: 0 0 4px #00000047;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    z-index: 1;

    .header__menu__item {
      border-bottom: 1px solid #eee;
      a {
        display: inline-block;
        padding: $unit-small $unit;
        width: 100%;
      }

      a.active {
        border-right: 2px solid $color-brand-primary;
      }
    }
  }

}

.c-header__menu {
  display: none;

  @media (min-width: 990px) {
    display: block;
    order: 1;

    .header__menu__item {
      display: inline-block;
      padding-right: 28px;

      a {
        display: inline-block;
        padding-top: 22px;
        padding-bottom: 22px;
      }
    }

    a.active {
      color: $color-brand-primary;
      font-weight: 700;
    }
  }
}

.c-header__logo {

  a {
    width: 140px;
    display: flex;
    align-items: center;
    padding: 22px;
  }
  @media (min-width: 990px) {
    order: 0;
    border-left: 1px solid #eee;
  }

}

.c-header__social-links {
  @include mq($from: tablet) {

  }
  @media (min-width: 990px) {
    order: 2;
    margin-right: auto;
  }
}

.c-header__user-actions {
  span {
    display: none;
  }
  @include mq($from: tablet) {

  }
  @media (min-width: 990px) {
    border-right: 1px solid #eee;
    margin-right: $unit;
    order: 3;
    a {
      display: inline-block;
      padding: 22px;
    }
    span {
      display: inline-block;
    }
  }

}



