.c-header {
  box-shadow: 0 0 4px #b8b8b8;
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to right, $color-brand-secondary, $color-brand-primary);
  }

  .toggle {
    border: none;
    background: transparent;
    @media (min-width: 990px) {
      display: none;
    }
  }

  .container {
    width: 1280px;
  }
}

.c-header {
  .container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.c-header__social-links {
  display: none;

  @media (min-width: 1124px) {
    display: flex;
  }
}

.c-header__social-media {
  li {
    display: inline-block;
    padding-right: 4px;
  }
}

.toggle {
  width: 40px;
  height: 40px;
  transition: all 0.4s;
  &:focus {
    outline: none;
    background: #f8f5eb;
    border-radius: 50%;

  }
}

.c-header__menu.open {
  //animation
  //height:0;
  //transition: height 0.3s ease-in-out;
  //height: auto;

  @media (max-width: 990px) {

    height: auto;
    display: block;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.28);
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    z-index: 1;
    box-shadow: 0px 6px 22px #d4d4d4;

    .header__menu__item {
      @include not-last-child() {
        border-bottom: 1px solid #eee;
      }

      a {
        display: inline-block;
        padding: $unit-small $unit;
        width: 100%;
      }

      a.active {
        border-right: 2px solid $color-brand-primary;
      }

    }
  }

}

.c-header__menu {
  display: none;

  svg {
    display: none;
  }
  ul {
    @media (min-width: 990px) {
      display: flex;
    }
  }
  @include mq($from: 1124px) {
    border-right: 1px solid #eee;
  }
  @media (min-width: 990px) {
    display: block;
    order: 1;

    svg {
      display: inline-block;
      path {
        stroke-dasharray: 22;
        stroke-dashoffset: 22;
        transition: all 0.2s ease-out;
      }
      &:hover {
        path {
          stroke-dashoffset: 0;
        }
      }

    }

    .header__menu__item {
      padding-right: 28px;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        display: inline-block;
        padding-top: 18px;
      }

      &:hover {
        svg {
          path {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }

  a.active {
    color: $color-brand-primary;
    font-weight: 700;
  }
}

@media (max-width: 1124px) {
  border-right: none;
}

.c-header__logo {

  a {
    width: 160px;
    display: flex;
    align-items: center;
    padding: 22px;
    padding-bottom: 12px;
  }
  @media (min-width: 990px) {
    order: 0;
    //border-left: 1px solid #eee;
  }

  img {
    width: 120px;
  }

}

.c-header__social-links {
  @media (min-width: 990px) {
    order: 2;
    margin-right: auto;
  }
}

.c-header__user-actions {
  span {
    display: none;
  }
  @include mq($from: tablet) {

  }
  @media (min-width: 990px) {
    border-right: 1px solid #eee;
    margin-right: $unit;
    order: 3;
    a {
      display: inline-block;
      padding: 22px;
    }
    span {
      display: inline-block;
    }
  }

}



