svg {
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
}

.c-icon {
  display: inline-block;
  vertical-align: middle;

}

.c-icon--large {
  width: 36px;
  height: 36px;
}

.c-icon--login {
  fill: $color-brand-secondary;
  @media (max-width:980px) {
    width: 32px;
    height: 32px;
  }

}

.c-icon--menu {
  fill: $color-brand-primary
}

.c-icon--circle {
  background: #f8f5eb;
  width: 26px;
  height: 26px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;

}

.c-icon--facebook {
  background: #f8f5eb url("../img/svg/facebook-logo.svg") no-repeat center center;
  background-size: 16px;
}

.c-icon--youtube {
  background: #f8f5eb url("../img/svg/youtube.svg") no-repeat center center;
  background-size: 16px;
}

.c-icon--instagram {
  background: #f8f5eb url("../img/svg/instagram.svg") no-repeat center center;
  background-size: 16px;
}

.c-section--newsletter__icon {
  text-align: center;
  span {
    display: inline-block;
    width: 98px;
  }
}

.c-icon--print{
  svg{
   // fill:#fff;
  }

}