.c-links__title {
  padding-bottom: $unit-small;
  margin-bottom: $unit;
  border-bottom: 1px solid #eee;
  font-weight: 700;
  font-size: 20px;
}

.c-links {
  padding-left: $unit;
  li {
    margin-bottom: $unit-tiny;
  }
  a {
    display: inline-block;
    width: 100%;
    transition: all 0.2s;
    &:hover {
      color: $color-brand-primary;
    }
  }
}

