
.c-media-horizontal {
  margin-bottom: $unit-large;
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.01);
    background: linear-gradient(to left, $color-orange-light, rgba(0, 0, 0, 0));

    .c-recipe--video {
      &:before {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }
  .c-media__title {
    margin-bottom: $unit-small;
  }
  .c-media__cat {
    margin-bottom: $unit-small;
  }
  .c-media__thumb {
    margin-bottom: 0;
    //align-self: start;
  }
}

.c-media-horizontal__details {
  @include mq($from: 750px) {
    padding-left: 100px;
  }
}

.search-results {
  border-bottom: 1px solid #eee;
}

