.c-recipe {
  position: relative;
}

.c-recipe__title {
  font-size: 22px;
  font-weight: 700;
  color: $color-brand-primary;
  @include mq($from: tablet) {
    font-size: $unit-large;
  }
}

.c-recipe__summary {
  color: #676767;
  margin-bottom: 26px;
  font-size: 14px;
  @include mq($from: tablet) {
    font-size: $unit;
  }
}

.c-recipe__image-container {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 16px #a9a9a9;
  z-index: 1;
  &::after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 64%;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.c-recipe__popularity {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  @include mq($from: desktop) {
    border-bottom: 1px solid #ccc;
  }
}

.c-recipe__print {
  cursor: pointer;
  display: none;
  @include mq($from: desktop) {
    display: block;
    margin-right: auto;
  }

}

.c-recipe__section-title {
  color: $color-brand-primary;
  font-weight: 700;
  font-size: 20px;
  padding-top: 8px;
}

.c-recipe__section-subtitle {
  font-weight: 700;
  font-size: 14px;
}

.c-recipe__ingredients {
  li {
    font-size: 14px;
    &::before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $color-brand-secondary;
      margin-left: $unit-small;
    }
  }
}

.c-recipe__instructions {
  counter-reset: step;
  li {
    display: flex;
    &::before {
      content: '';
      counter-increment: step;
      content: counters(step, "");
      padding-left: $unit-small;
      color: $color-brand-primary;
    }
  }
}

.c-recipe__content {
  border-bottom: 1px solid #ccc;
  padding-bottom: $unit;
}

.c-recipe__review {
  h3 {
    margin-bottom: $unit;
    margin-top: $unit;
  }
  textarea {
    width: 100%;
    border-radius: 4px;
    border: none;
    border: 1px solid #ccc;
    resize: none;
    outline: none;
    overflow: hidden;

    &:focus {
      border-color: $color-brand-primary;
    }
  }
}

.c-recipe__summary-data {
  border-bottom: 1px solid #eee;
  padding-top: 16px;
  padding-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: none;
  @include mq($from:1000px){
    padding-top: 32px;
  }
}

.c-recipe__summary-data-item {
  display: flex;
  position: relative;
  padding-right: 52px;
  margin-left: 64px;
  line-height: 1.5;
  @media (max-width: 740px) {
    @include not-last-child() {
      margin-bottom: 28px;
    }
  }

  &::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 60%;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    background-size: 40px, 50px;
    background-repeat: no-repeat;
    margin-left: 8px;
  }

  @include mq($from: tablet) {
    flex-direction: column;
    &::before {
      margin-left: 0;

    }
  }

  span {
    font-size: 14px;
    color: #888;
  }
  strong {
    color: $color-brand-primary;
    font-size: 16px;
    font-weight: 700;
  }

}

.c-recipe--yield {
  &::before {
    background: url(../img/svg/serving.svg) no-repeat top, radial-gradient(circle, #f8f5eb 22px, transparent 1px) center;
  }

}

.c-recipe--total-time {
  &::before {
    background: url(../img/svg/cooking.svg) no-repeat top, radial-gradient(circle, #f8f5eb 22px, transparent 1px) center;
  }
}

.c-recipe--active-time {
  &::before {
    background: url(../img/svg/prepartion.svg) no-repeat top, radial-gradient(circle, #f8f5eb 22px, transparent 1px) center;
  }
}

.c-recipe__side-content {
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  @include mq($from: 1000px) {
    border-bottom: none;
    background: #fff;
    right: 100%;
  }
}

.c-recipe__brought-by {
  display: inline-block;
  border-bottom: 2px solid orange;
  font-size: 14px;
  padding-bottom: 4px;

  Strong {
    font-weight: 700;
  }
  @include mq($from: 1000px) {
    font-size: 16px;
    border-bottom: none;
    padding: 4px 16px;
    background: orange;
    display: inline-block;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

  }
}

.c-recipe__share {
  @include mq($from: 1000px) {
    padding-right: $unit;
  }
}

.c-recipe__author {
  span {
    font-size: 14px;
  }
  strng {
    font-weight: 700;
  }
  padding-top: 12px;
  padding-bottom: 8px;
  @include mq($from: 1000px) {
    padding: $unit 0;
    padding: $unit-large 0;
    padding-right: $unit;
    display: flex;
    align-items: center;
    .c-recipe__author__info {
      display: flex;
      flex-direction: column;
      line-height: 1.5;
    }
  }
}

.c-recipe__author__icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  margin-left: 4px;
  @include mq($from: 1000px) {
    width: 40px;
    height: 40px;
    margin-left: 10px
  }
  img {
    width: 100%;
    object-fit: contain;
  }
}

.c-recipe__author__info {
  display: inline-block;
}

////
.recipe-content {
  max-width: 700px;
}

.recipe-top-content {

  .c-recipe__side-content {
    margin-top: 10px;
  }
  @include mq($from: 1000px) {
    display: flex;
    .recipe-content {
      flex-basis: 700px;
    }
    .c-recipe__side-content {
      margin-top: 70px;
    }
  }
  .inner-container {
    @media (max-width: 700px) {
      //display: flex;
      //justify-content: space-between;
    }
  }
}
