
.c-recipe__thumb {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
  overflow: hidden;
  height: 0;
  padding-bottom: 70%;
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.c-recipe {
  margin-bottom: $unit;
  display: flex;
  flex-direction: column;
  position: relative;
}

.c-recipe__content {
  margin-bottom: 2rem;
}

.c-recipe__title {
  font-size: 18px;
  font-weight: 700;
  order: 1;
  //position: relative;
  a {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

}

.c-recipe__description {
  font-size: 14px;
  order: 0;
}

.c-recipe__author__name {
  font-size: 14px;
}

.c-recipe__author {
  order: 2;
  z-index: 1;

  a {
    display: inline-block;
    width: 100%; /*??*/
    &:hover {
      color: $color-brand-primary;
    }
  }
}

.c-recipe__author__icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  img {
    width: 100%;
    object-fit: contain;
  }
}