.c-section {
  padding-top: $unit-large;
  padding-bottom: $unit-large;
}

.c-section--light {
  background: #F6F6F6;;
}

.c-section--hero {
  box-shadow: 0 4px 10px #e7e7e7;
  background: linear-gradient(rgba(255, 0, 0, 0), #F9F9F9 99%) no-repeat,
  url(../img/home/hero-pattern.png) no-repeat center center;
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;

  @include mq($from: desktop) {
    background: url(../img/home/basmaty-pattern2.png) no-repeat center bottom,
    linear-gradient(rgba(255, 0, 0, 0), #F9F9F9 99%) no-repeat,
    url(../img/home/hero-pattern.png) no-repeat center center, #F9F9F9;
    background-size: 100%, 100% 200px, cover;
    background-position: bottom, bottom, center;
    padding-bottom: 70px;
  }
  h2 {
    font-size: 24px;
    @include mq($from: tablet) {
      font-size: $unit-large;
    }
  }
}

.c-section--newsletter {
  background: url(../img/home/newsletter-pattern.png) no-repeat center bottom,
  linear-gradient(rgba(255, 0, 0, 0), #FDFAF3 99%) no-repeat, #FDFAF3;
  background-size: cover;
  background-position: center;
  border-top: 3px solid $color-brand-secondary;
}

.c-section--recipe {
  background: linear-gradient(rgba(255, 0, 0, 0) 250px, #fff 250px) no-repeat,
  url(../img/home/hero-pattern.png) no-repeat center center, #f7f7f7;
  background-size: 100% auto;
  background-position: top;
  padding-bottom: 0;
  @media (max-width: 600px) {
    padding-top: 0;
  }
}

.c-section--filters {
  background: $color-brand-primary;

  @include mq($from: mobile) {
    .container {
      display: flex;
      justify-content: center;
    }
  }

}

.c-section--pattern {
  position: relative;
  padding-top: 100px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 360px;
    background: linear-gradient(rgba(255, 0, 0, 0) 350px, #f8f5eb 350px) no-repeat,
    url(../img/home/hero-pattern.png) no-repeat center center, #f8f5eb;
    background-size: cover;
  }
}

.c-section--category {
  padding-top: $unit;
  padding-bottom: $unit;
  background: linear-gradient(rgba(255, 0, 0, 0) 350px, #f8f5eb 350px) no-repeat,
  url(../img/home/hero-pattern.png) no-repeat center center, #f8f5eb;
  background-size: cover;
  .c-tags {
    text-align: initial;
    margin-top: $unit;
  }
  h2 {
    font-size: 20px;
  }
}

.c-section--author {
  background: linear-gradient(rgba(255, 0, 0, 0) 350px, #f8f5eb 350px) no-repeat,
  url(../img/home/hero-pattern.png) no-repeat center center, #f8f5eb;
  background-size: cover;
}

.c-section--author__info {
  PADDING: 10px 0;
  border-bottom: 1px solid #eee;
  box-shadow: 0px -1px 4px #e1e1e1;
}