
.c-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 26px;
  text-align: center;
  @include mq($from : tablet){
    font-size: 24px;
  }
  span{
    padding-left: $unit;
    padding-right: $unit;
  }
  strong{
    font-weight: 700;
    color: $color-brand-primary;
  }
}

.section-title--lines:before {
  content: "";
  height: 1px;
  background: #eee;
  flex: 1;
}

.section-title--lines:after {
  content: "";
  height: 1px;
  background: #eee;
  flex: 1;
}

